<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mapaCliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tu ruta</ion-title>
    </ion-toolbar>
    <div style="display: flex; justify-content: space-around;">
      <ion-card >
        <img alt="Silhouette of mountains" src="assets/icon/ubersimulator.png" />
        <ion-card-header>
          <ion-card-title>En proceso...</ion-card-title>
        </ion-card-header>
        <ion-button routerLink ="/home-cliente" style="margin-left: 100px; margin-right: 50px; margin-bottom: 30px;" color="success">Home</ion-button> 
      </ion-card>
    </div>
  </ion-header>
</ion-content>
