<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contreña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-content>
      <form (submit)="recoveryPassword()">
        <ion-input type="email" placeholder="example@duocuc.cl" name="email" [(ngModel)]="emailValue"></ion-input>
        <ion-button type="submit">Recuperar contraseña</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
