ion-card {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: auto; 
    background-color: gray
    
    img {
      height: 150px;
      width: 200px;
      margin-top: 16px;
    }
  
    ion-card-content {
      width: 100%;
    }
  }
  
  ion-button{
    margin-left: 15px;
    margin-right: 15px;
  }
  
  ion-title {
    text-align: center;
    width: 100%;
  }
  