<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- CARD PARA LA BIENVENIDA -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola, {{ usuarioLogin }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bienvenido, te invitamos a elegir como vas a actuar hoy :)
    </ion-card-content>
  </ion-card>
  <!-- conductor -->
  <div style="display: flex; justify-content: space-around;">
    <ion-card style="width: 45%; margin-top: 35px;">
      <img class="gif-coche" alt="" src="assets/icon/coche.gif" />
      <ion-card-header>
        <ion-card-title>Chofer</ion-card-title>
      </ion-card-header>

      <ion-card-content>
       <p>Fija tu ruta y detalla el viaje.</p>
        <ion-button color="success" routerLink="/conductor" expand="full">
          <ion-icon  slot="start" name="car-outline"></ion-icon>
          Llevar
          </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card style="width: 45%; margin-top: 35px;">
      <img alt="" src="assets/icon/tailandes.gif" />
      <ion-card-header>
        <ion-card-title>Pasajero</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Selecciona un viaje y comienza.</p>
        <ion-button color="success" routerLink="/pasajero" expand="full">
          <ion-icon slot="start" name="star"></ion-icon>
          Choferes
        </ion-button>
      </ion-card-content>
    </ion-card>